<!DOCTYPE html>
<html lang="pt-br">
<head id="login-page">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="index.css" />
    
    <title>ADM</title>
</head>
<body>    
        <header> 
            <div class="container">          
                <h1> Login </h1>  
            </div>                     
        </header>
        <main>
            
                <form id="form">
                    <label>Usuário</label></br>
                    <input type="text" name="user"  id="user" /></br></br>

                    <label>Senha</label></br>
                    <input type="password" name="password" id="password" /></br></br>
                    <span id="recover-password-button">Esqueceu a senha? </a><br><br>
                        
                    <button name="confirm-button" id="confirm-button" >Confirmar</button>                    
                </form>
            
        </main>
                
        <script type="module" src="index.js"> </script>
        <script src="../../../../assets/js/utilities.js"></script>

        <footer>
            <div class="container"></div>
        </footer>
       
</body>
</html>