:root{
    --cor-primaria:rgb(168, 108, 153);
    --cor-secundaria:rgb(42, 126, 63);
    --texto-medio: 1.3em;
}

* {
    box-sizing: border-box;
    outline: 0;
	
  }
  
  body {
    margin: 0;
    padding: 0;    
    font-family: 'Open sans', sans-serif;
    font-size: var(--texto-medio);
    line-height: 1.5em;	
	
  }

.corpo{
    display: none;
}

header {
	display:flex;
	justify-content:center;
	height:120px;
	
}

.container {
	display:flex;
	justify-content:space-between;
	width:990px;	
	
}



.logo {
	display:flex;
	align-items:center;
}
.menu {
	display:flex;
	align-items:center;
}


.categorias, .rodape, .listaObjetos{
  	display:flex;
	justify-content:center;
	
}

.categorias .container ul {
	flex: 1;
  	display:flex;
	justify-content:center;
	flex-direction: row;
	align-content:space-around; 
  
}

.categorias .container ul li{
	flex:1;  
	list-style: none;
	margin:0;
	padding:0; 
	
}

.categorias .container ul li a{
	display:block; 
	padding:15px;
	text-decoration:none;
	text-transform:uppercase;
	color:#727272;
}


@media (max-width:600px) {

	.container {
		flex-direction:column;
	}


	.footer_copy {
		padding-left:20px;
	}

	header .container {
		flex-direction: row; /* para ficar um ao lado do outro */
	}


	header {
		height:auto; /* aqui eu digo que o elemento vai tomar a altura que seu conteudo precisar. Note que quando a gente esta aplicando o responsivo a gente esta mais preocupado com o tamanho da largura, pois, a altura do site nao tem problema porque o povo vai rolando para baixo ate o final*/
	}
	.logo {
		padding-left:20px;
	}
	.barraPesquisa{
		padding-right:20px;	
	}
}
