<!DOCTYPE html>
<html lang="pt-br">
<head class = "restritoAdm">
    
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="index.css" />   
    
    <title>Objetos</title>
</head>

<body class="corpo">
    <header>
        <div class="container">
            <h1> Objetos  </h1>          
                      
        </div>
    </header> 

    <section class="categorias">
        <div class="container">
            <ul id = "listaCategorias"></ul> 
        </div>
    </section>

    <div class="listaObjetos">
        <section class="container">
            <table>
                <thead>
                    <tr>
                        <th>Id</th>                                                
                        <th>Imagem</th>
                        <th>Descrição</th>
                        <th>Local</th>
                        <th>Data</th>
                        <th>Retirado</th>
                        <th>Reservado</th>
                        <th>Categoria</th>
                        
                    </tr>
                </thead>

                <tbody>
                    
                </tbody>

            </table> 
            <button id="btnCadObj"> + </button>
        </section>
    </div>

    <script type="module" src="index.js" ></script>
    <script src="../../../../assets/js/utilitarios.js"></script>
</body>
</html>
