<!DOCTYPE html>
<html lang="pt-br">
<head class = "restricted-admin">
    
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="index.css" />   
    
    <title>Objetos</title>
</head>

<body class="body">
    <header>
        <div class="container">
            <a href="src/views/admin/panel/">Voltar</a>            
            <h1> Gerenciar Objetos  </h1> 
            
            <div class="search-bar">
                <input type="text" />
                <button>P</button>
            </div>
            
            <div class="categories">                
                <select name="categories-list" id="categories-list">
                    <option value="0">Categorias</option>
                </select>                
            </div>    
        </div>
    </header> 
    
    <main>
        <section class="container">            
            <div class="things-list">                
            </div>
        </section>
        <button id="register-things-button">+</button>
    </main>
    <script type="module" src="index.js" ></script>
    <script src="../../../../assets/js/utilities.js"></script>
</body>
</html>
