<!DOCTYPE html>
<html lang="pt-br">
<head class = "restritoAdm">
    
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="index.css" />   
    
    <title>Painel de Controle</title>
</head>

<body class="corpo">
    <header>
        <div class="container">
            <h1> Painel de Controle  </h1>
        </div>
    </header>
    
    <div class="conteudo">
        <div class="container">
            <ul>
                <li>
                    <a href="/">
                        <img src="https://cdn-icons-png.flaticon.com/512/32/32417.png" alt="Reservados" width="30" height="30" />
                        <label>Reservados</label>
                    </a>
                </li>
                <li>
                    <a href="http://localhost/smd/projeto/src/views/adm/objetos/">
                        <img src="" alt="Gerenciar Objetos" />
                        <label>Gerenciar Objetos</label>
                    </a>
                </li>
                <li>
                    <a href="/">
                        <img src="" alt="Lista de Desova" />
                        <label>Lista de Desova</label>
                    </a>
                </li>
                <li>
                    <a href="/">
                        <img src="" alt="Alterar Senha" />
                        <label>Alterar Senha</label>
                    </a>
                </li>
                <li>
                    <a href="http://localhost/smd/projeto/src/views/adm/categorias/">
                        <img src="" alt="Gerenciar Categorias" />
                        <label>Gerenciar Categorias</label>
                    </a>
                </li>
                <li>
                    <a href="/">
                        <img src="" alt="Email Semestral" />
                        <label>Email Semestra</label>
                    </a>
                </li>
            </ul>   
            
            <button id="btnSair">Sair</button>    
         </div>
    </div>
    <script src="index.js" ></script>
    <script src="../../../../assets/js/utilitarios.js"></script>
</body>
</html>